* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 40px 0px;
  color: white;
  text-shadow: 1px 1px 1px black;
  
  
}

/* Your CSS below here */

/* first color stop spans 15% of gradient, midpoint 15% , second color stop span from 15% to 80%, third color stop spans 15% from the second color */
body article{
  background-image: url(top-image.png) top no-repeat;
  background:  linear-gradient( rgba(51,56,57, 0.2), 17%,    rgba(51,56,57, 0) 15%,80% ,  rgba(51,56,57, 0.2) 15%), url(top-image.png) top no-repeat,  url(bottom-image.png) bottom no-repeat;
  background-color: white;

  border-top: 1mm  solid black;
  border-bottom: 1mm solid black;

}



article h1{
  background: url(logo.png);
  border-radius: 50%;
  box-shadow: 3px 3px 3px black;
}


h1, p{
  margin: 0;
}
