@layer fifthLayer;





@layer fifthLayer {
  a::after{
    content: " " ➥"" !important;
  }
  
 a::first-letter {
  color: green !important;
}

  
}




.my-class-1{
  writing-mode: vertical-lr;
  inline-size: 150px;
}



